<h2>Reactive: <small>Dinámicos</small></h2>
<hr>
<form (ngSubmit)="guardar()" [formGroup]="formularioDinamico" autocomplete="off">
    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre <span>*</span></label>
        <div class="col-sm-9">
            <input  class="form-control" placeholder="Nombre de la persona" 
            formControlName="nombre">
            <span class="form-text text-danger"
            *ngIf="validarCampo('nombre')">Campo obligatorio (minimo 3 letras)</span>
        </div>
    </div>
    <!--Agregar Favorito-->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input
                class="form-control"
                placeholder="Agregar favorito"
                [formControl]="nuevoFavorito">
                <button class="btn btn-outline-primary" type="button" (click)="agregar()">
                    Agregar
                </button>
            </div>
        </div>
    </div>
    <!--Lista Favorito-->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9" formArrayName="favoritos">
            <div class="input-group" *ngFor="let favorito of formularioDinamico.controls['favoritos'].value; let i=index">
                <input class="form-control" [formControlName]="i">
                <button class="btn btn-outline-danger" type="button" (click)="eliminar(i)">
                    Eliminar
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary float-end">Guardar</button>
        </div>
    </div>
</form>
<hr>
<span>Valid</span>
<pre>{{formularioDinamico.valid}}</pre>